.Stories {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 12px 0;
}

.Stories::-webkit-scrollbar {
  display: none;
}

.Stories__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.Stories__item:first-child {
  padding-left: 12px;
}

.Stories__item:last-child {
  padding-right: 12px;
}
